<form action="" class="w-6/12 flex flex-col ml-40" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
    <mat-label>Ingredients</mat-label>
    <mat-chip-grid #chipGrid>
      @for (val of ingredients; track val) {
        <mat-chip-row
          (removed)="remove(val)"
          [editable]="true"
          (edited)="edit(val, $event)">
          {{ val }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input
        formControlName="ingredients"
        placeholder="New Ingredient..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)" />
    </mat-chip-grid>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Instructions</mat-label>
    <textarea matInput formControlName="instruction"></textarea>
  </mat-form-field>
  <!-- <input type="file" formControlName="image" /> -->

  <button
    (click)="file.click()"
    class="bg-indigo-600 rounded-3xl w-40 h-10 flex flex-row items-center justify-center mr-44">
    <mat-icon
      role="img"
      class="mat-icon notranslate icon-size-5 mat-icon-no-color"
      aria-hidden="true"
      data-mat-icon-type="svg"
      data-mat-icon-name="plus"
      data-mat-icon-namespace="heroicons_solid">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="white"
        aria-hidden="true"
        fit=""
        height="100%"
        width="100%"
        preserveAspectRatio="xMidYMid meet"
        focusable="false">
        <path
          fill-rule="evenodd"
          d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
          clip-rule="evenodd"></path>
      </svg>
    </mat-icon>
    <span class="text-white">Upload Image</span>
    <input
      formControlName="image"
      hidden
      #file
      type="file"
      [multiple]="false"
      (change)="onFileUpload($event, file)" />
  </button>

  <button
    (click)="onSave()"
    class="bg-indigo-600 rounded-3xl w-20 h-10 flex flex-row items-center justify-center mr-44 mt-16">
    <span class="text-white"> {{ selectedItem ? 'Update' : 'Save' }}</span>
  </button>
</form>
